
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: hsl(0, 0%, 98%);


}

html{
	font-family: "Kalam", cursive !important; 
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	height: 100px;
	width: 100px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

nav{
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
}
/* .bg-dark{
	background-color: #4f868c!important;
} */
.btn-login{
	background-color: #EFBFB5;
	color: white;
	border-radius: 200px;
}
.btn-login:hover {
	background-color: #ac7175;
	color: #fff;
}
.form-inline{
    position: relative;
    bottom: 7px; 
    height: 42px;
    /* width: 200px; */
    align-items: center;
    right: 10px;
}
#cart-icon{
	width:25px;
	display: inline-block;
	margin-right: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: #EFBFB5;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
    position: relative;
    left: 190px;
    bottom: 50px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 10px !important;
	

}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

/* start banner */
.banner-card {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
	right: 70px;
	border-radius: 10px;
	font-family: "Kalam", cursive !important; 
}
.banner { 
    padding: 1px;
    margin: -17px;
    width: 1470px;
	height: auto;

	
}


/* .banner-item {
    min-width: 100%;

} */

.banner-text{
	font-size: 35px;
    /* margin: 16px 30px; */
    color: #efe9e9;
	margin-top: 40px;
    
}
.card-content{
	margin: 20px;
    padding:30px;
	font-family: "Kalam", cursive !important; 

}
.banner .price {
	color: #212529;
    font-size: 30px;
    font-weight:600;
margin-top: 40px;
}

.banner h1 {
	color: #212529;
margin-top: 130px;
}
.banner .btn-banner{
	border-radius: 10px;
	background-color: none;
	color: #fff;
	width: 200px;
	padding: 10px;
    border-color: #212529;
}
.btn-banner:hover {
	background-color: #9c323e;
}

/* start store */
.btn-outline:hover{
	background-color: #1b1919 !important;
	color: #EFBFB5 !important;
}
.btn-outline{
	outline: #ac7175 solid 2px !important;
	padding: 10px !important;
	margin: 5px !important;
	
	font-family: "Kalam", cursive !important; 

}
.login{
	color: #fff !important;
	background-color: #EFBFB5 !important;
	font-family: "Kalam", cursive !important; 

	width: 100px !important;

	margin-left: 60px !important;


}

.row{
	font-family: "Kalam", cursive !important; 

}
nav{
	font-family: "Kalam", cursive !important; 
	
	
}